/* Code partly from Code Institutes walkthrough project and study material */
.Owner {
    font-weight: bold;
    color: #442e0d;
    margin-right: 8px;
  }
  
  .Date {
    font-weight: lighter;
    color: #c1c1c5;
  }