/* Code partly from Code Institutes walkthrough project and study material */
.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #462f0c;
  }